.kalkulator{
    width: 350px;
    border: solid;
    border-color: #999999;
    border-radius: 5px;
    padding: 20px;
    display: grid;
}
#clear{
    background: darkseagreen;
    
}
.input tr td input{
    margin: 5px;
    border: solid;
    border-color: #999999;
    border-radius: 5px;
    padding: 5px;
}

*{
    box-sizing: border-box;
}

#equals{
    background: yellow;
}